body {
    background-color: #1C2326;
}

/*Header style & layout*/
    header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #ffffff;
    }

    .header-container {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        border: 2px solid black;
    }

    .search-icon {
        display: none;
    }

    .header-container input, 
    .header-container label {
        display: none;
    }

    .header-container label img {
        width: 30px;
        height: auto;
    }

    .header-logo {
        flex: 1;
        display: flex;
    }

    .header-logo a img {
        max-width: 185px;
        max-height: 100%;
        padding: 5px 10px;
    }

    .nav-sites{
        flex: 4; 
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .nav-sites a {
        padding: 0 10px;
        text-decoration: none;     
        font-family: "Inter", sans-serif;
        font-size: 28px; 
        color: #1C2326;
        text-align: center;
    }

    .nav-icons {
        flex: 1;
        display: flex;
        justify-content: space-evenly;
    }

    .nav-icons a img {
        width: 40px;
        height: auto;
        padding: 0px 5px;
    }

    .search-bar {
        display: flex;
        justify-content: end;
        border: 2px solid black;
        width: 100%;
        height: auto;
        flex-direction: row;
    }

    .visually-hidden {
        display: none;
    }

    .active {
        display: flex;
    }

    .search-bar img  {
        width: 44px;
        height: auto;
        padding: 0px 10px;
    }

    #search-input {
        width: 100%;
        height: 45px;
        border: none;
        padding: 0px 10px;
    }

/*Main style & layout*/
    main {
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
    }

    h1 {
        font-family: "Spectral";
        font-style: italic;
        font-size: 5em;
        padding: 0px 15px;
        margin: 0px;
        color: #FFFFFF;
        text-align: center;
    }

    h2 {
        font-family: "Bebas Neue";
        font-size: 3em;
        padding: 0px;
        margin: 0px;
    }

    h3 {
        font-family: "Bebas Neue";
        font-size: 1.5em;
        font-weight: 600;
        padding: 0px;
        margin: 0px;
    }

    h4 {
        font-family: "Inter";
        font-size: 15px;
        text-decoration: underline;
        margin: 0px;
    }

    h5 {
        font-family: "Spectral";
        font-size: 18px;
        font-weight: 600;
    }

    h6 {
        font-family: "Spectral";
        font-size: 14px;
        font-weight: 600;
        color: #000000;
    }

    p {
        font-family: "Inter";
        margin: 0px;
        padding: 0px;
    }
/*Footer style & layout*/
    footer {
        position: static;
        width: 100%;
        background-color: #ffffff;
    }

    footer a {
        font-family: "Inter";
        text-decoration: none;
        color: #000000;
    }

    .footer-content {
        display: flex;
    }

    .help-element {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-element {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
/*Other Components*/
    .cta-button {
        border: solid 2px black;
        border-radius: 10px;
        background-color: #F0C546;
        font-family: "Bebas Neue", sans-serif;
        font-size: 45px;
        padding: 0px 50px;
        margin: 10px;
        width: fit-content;
    }

    .cta-button a {
        text-decoration: none;
        color: black;
        text-align: center;
        text-wrap: nowrap;
    }

    .cta-button img {
        width: 30px;
        height: 30px;
    }

    .breadcrump-filter {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 100%;
        height: auto;
        background-color: #365359;
        font-family: "Spectral";
        font-size: 20px;
        color: #FFFFFF;
        padding: 10px 0px;
    }

    .breadcrump {
        flex: 4;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .breadcrump a {
        text-decoration: none;
        color: #FFFFFF;
        padding: 0px 10px;
    }

    .breadcrump p {
        font-family: "Spectral";
        font-style: italic;
    }

    .filter {
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0px 10px;
    }

    .filter p {
        font-family: "Bebas Neue";
        font-size: 32px;
    }

    .filters {
        width: 150px;     
        position: absolute;
        z-index: 1;
        top: 240px;
        right: 0;
        flex-direction: column;
        background-color: #FFFFFF;
        margin: 0px;
        padding: 0px;
    }

    .filters fieldset {
        color: #000000;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0px;
        padding: 0px;
        align-items: center;
    }

    .filters fieldset label {
        font-family: "Inter";
        font-size: 18px;
        color: #000000;
    }

    .cta-blue {
        border-radius: 10px;
        border: solid 2px black;
        background-color: #0A3641;
        color: #FFFFFF;
        font-family: "Bebas Neue", sans-serif;
        font-size: 45px;
        padding: 0px 50px;
        margin: 10px;
        width: fit-content;
    }

    .cta-blue a {
        text-decoration: none;
        color: #FFFFFF;
        text-align: center;
        text-wrap: nowrap;
    }

    .section-utility {
        margin: 100px 20px;;
    }
/*Homepage content specifics*/
    .hero-section {
        flex: 1;
        width: 100%;
        height: auto;
        background-image: url(images/quinn-aebi-XZ46vmjgFJA-unsplash-compressed-cut.jpg);
        background-size: cover;
        display: flex;
        justify-content: center;
    }

    .hero-section img {
        padding: 15px 0px;
    }

    .homepage-content {
        width: 90%;
        height: 400px;
        background-image: url(images/mounir-abdi-y43wWZCvjs0-unsplash-compressed-cut.jpg);
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        justify-content: space-between
    }

    .homepage-content > h1 {
        background-color: #303030c0;
    }
/*Product page*/
    .product-page {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .product-card {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 15px;
        border: 2px solid black;
    }

    .product-card img {
        width: 360px;
        height: 440px;
    }

    .product-card-footer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #C1DADC;
        border-top: 2px solid black;
        height: 70px;
    }

    .product-footer-text {
        flex: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product-footer-icons {
        flex: 1;
        display: flex;
        justify-content: space-evenly;
    }

    .product-footer-icons > img {
        width: 30px;
        height: 30px;
    }

    .overlay {
        margin: 0px;
        width: 360px;
        height: 440px;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: #303030c0;
        display: flex ;
        align-items: flex-end;
        justify-content: center;
        font-family: "Spectral";
        font-size: 24px;
        color: #FFFFFF;
        opacity: 0;
        transition-property: opacity;
    }

    .product-card:hover .overlay{
        opacity: 1;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
    }
/*Product Detail Page*/
    .product-detail-page {
        display: flex;
        flex-direction: column;
    }
    .product-detail-section {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        background-color: #FFFFFF;
        border: solid 2px black;
    }

    .product-images {
        width: auto;
        height: 600px;
        flex: 1;
        border: solid 2px black;
        display: flex;
    }

    .product-images > img{
        width: fit-content;
        height: 100%;
    }

    .product-details {
        width: 100%;
        flex: 1;
        border: solid 2px black;
    }

    .options-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 30px 10px 30px;
        border: solid 2px black;
    }

    .size-button-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        padding: 20px 0px;
    }

    .size-button {
        background-color: #0A3641;
        color: #FFFFFF;
        font-family: "Bebas Neue";
        font-size: 32px;
        width: 48px;
        height: 48px;
        border-radius: 5px;
    }

    .add-to-cart {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .details-section {
        padding: 10px 10px 10px 40px;
        display: flex;
        flex-direction: column;
        align-content: center;
        border: solid 2px black;
        height: 220px;
        line-height: 2.0;
    }
/*Cart page*/
    .cart {
        display: flex;
        flex-direction: row;
        height: 600px;
    }

    .cart-overview {
        flex: 1;
        border: solid 2px black;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .cart-items {
        width: 100%;
    }

    th {
        flex: 1;
        height: 90px;
        font-family: "Bebas Neue";
        font-size: 22px;
        text-align: center;
    }

    tr {
        display: flex;
        flex-direction: row;
    }

    td {
        height: 90px;  
    }

    .product-chosen {
        flex: 1;
        display: flex;
        border: solid 2px black;
        justify-content: space-evenly;
        align-items: center;
    }

    .product-chosen > img {
        width: 75px; 
        height: auto;
    }

    .product-chosen > p {
        border: solid 2px black;
    }

    .item-quantity {
        flex: 1;
        display: flex; 
        align-items: center;
        justify-content: space-around;
        border: solid 2px black;
    }

    .item-quantity > img {
        width: 25px;
        height: 25px;
    }

    .item-price {
        flex: 1;
        display: flex; 
        align-items: center;
        justify-content: center;
        border: solid 2px black;
    }

    .cart-summary {
        flex: 1;
        border: solid 2px black;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
    }

    .summary-overview {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        border: solid 2px black;
    }

    .continue-to-checkout {
        flex: 2;
        border: solid 2px black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .total {
        display: flex;
        justify-content: space-between;
    }

    .discount-code > .cta-blue {
        padding: 0;
        margin: 0;
        width: 40px;
        font-size: 18px;
    }

    .you-may-also-like {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .you-may-also-like h2 {
        color: #FFFFFF;
    }

    .prod-options {
        display: flex;
    }

/*Payment details*/
    .payment {
        display: flex;
        flex-direction: row;
        height: fit-content;
    }

    .payment-steps {
        flex: 1;
        border: solid 2px black;
        background-color: #FFFFFF;
    }

    .step-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .steps {
        background-color: #0A3641;
        width: 40px;
        height: 40px;
        font-family: "Inter";
        font-size: 28px;
        color: #FFFFFF;
        border-radius: 50%;
        text-align: center;
        margin: 10px;
    }

    .step-section {
    display: flex; 
    flex-direction: column; 
    padding: 5px 20px;
    }

    .email input {
    width: 100%;
    height: 45px;
    }

    .mail-buttons {
        display: flex;
        justify-content: space-between;
    }

    .mail-buttons > .cta-blue {
        font-size: 28px;
        padding: 10px 20px;
        text-align: center;
    }

    .shipping-form input {
        width: 100%;
        height: 20px;
    }

    .billing {
        display: flex;
    }

    .payment-options {
        display: flex;
        flex-direction: column;
    }

    .payment-options label img {
        width: 25px;
        height: auto;
    }

    .shipping-options {
        flex: 1;
        display: flex;
        flex-direction: column;
        border: solid 2px black;
        background-color: #FFFFFF;
    }

    .shipping-methods {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px 10px;
        justify-content: space-between;
    }

    .order-overview {
        flex: 0.5;
        display: flex;
        flex-direction: column;
        border: solid 2px black;
        background-color: #FFFFFF;
    }

    .summary {
        flex: 2;
        justify-content: space-evenly;
        align-items: flex-end;
        padding: 5px 20px;
        display: flex;
        flex-direction: column;
        border: solid 2px black;
    }

    .checkout {
        flex: 3;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        padding: 5px 20px;
    }
/*confirmation page*/
    .confirmation-section {
        display: flex;
        flex-direction: column;
        color: #FFFFFF;
        align-items: center;
    }

    .confirmation-section img {
        width: 180px;
        height: 180px;
    }
/*Coming soon page*/
    .coming-soon-section {
        display: flex;
        flex-direction: column;
        color: #FFFFFF;
        align-items: center;
    }
/*media queries for small devices*/
@media screen and (max-width: 600px) {
/*Header adjustments*/
    .header-container input, .header-container label{
        display: flex;
        flex: 1;
        padding-left: 10px;
    }

    #menu-checkbox {
        display: none;
    }

    .nav-sites {
        display: none;
        position: absolute;
        top: 110px;
        background-color: #FFFFFF;
        padding: 10px 5px;
        border-radius: 10px;
        border: solid 2px black
    }

    .nav-sites a {
        font-size: 16px;
        text-decoration: underline;
        padding: 5px 0px;
    }

    #menu-checkbox:checked ~ .nav-sites {
        display: flex;
        flex-direction: column;
    }

    .search-bar {
        display: none;
    }

    .search-icon {
        display: flex;
        flex: 1;
    }

    .header-logo {
        flex: 3;
    }

    .header-container a img {
        max-width: 30px;
        max-height: 30px;
    }

    .header-logo a img {
        max-width: 130px;
        max-height: 100%;
    }
/*Main adjustments*/
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 15px;
    }

    h4 {
        font-size: 12px;
    }

/*Homepage adjustment*/
    .hero-section {
        display: none;
    }

    .homepage-content > h1 {
        font-size: 52px;
    }

    .homepage-content {
        height: 650px;
        width: 90%;
        background-image: url(images/mounir-abdi-y43wWZCvjs0-unsplash-compressed_small.jpg);
    }
/*components adjustment*/
    .cta-button {
        font-size: 30px;
        padding: 3px 40px;
    }

    .cta-blue {
        font-size: 30px;
        padding: 3px 40px;
    }
/*Product page*/
    .product-card {
        margin: 5px;
    }

    .product-card img {
        width: 170px;
        height: 207px;
    }

    .product-card-footer {
        height: 36px;
    }

    .product-footer-text p {
        font-size: 8px;
    }

    .product-footer-icons > img {
        width: 18px;
        height: 18px;
    }

    .overlay {
        width: 170px;
        height: 207px;
        font-size: 15px;
    }

    .section-utility {
        margin: 30px 15px;
    }
/*Product Detail Page adjustments for mobile*/
    .product-detail-section {
        flex-direction: column;
    }  

    .details-section > h3 {
        font-size: 20px;
    }  

    .product-images > img {
        width: 90%;
        height: 400px; 
        padding: 0px;
    }

    .size-button {
        font-size: 22px;
        width: 35px;
        height: 35px;
    }


/*cart page*/
    .cart {
        flex-direction: column;
        padding: 0px;
        margin: 30px 20px;
    }
    /*payment details*/
    .payment {
        flex-direction: column;
        margin: 30px 20px;
        padding: 0px;
    }

    .mail-buttons > .cta-blue {
    font-size: 20px;
    padding: 10px 20px;
}

/*footer*/

    .footer-content a {
        font-size: 12px;
    }

}